<app title="Hello World">
    <drawer>
        <menuitem
            href="helloworld.xml"
            default="true">
            Homepage
        </menuitem>
        <menuitem
            href="someotherpage.xml">
            Some other page
        </menuitem>
        <menuitem
            href="mystery.xml">
            Who know whats here
        </menuitem>
    </drawer>
</app>