<app title = "Hello World">
    <drawer>
        <menuitem
            href="helloworld.xml"
            default="true">
            Homepage
        </menuitem>
        <menuitem
            href="someotherpage.xml">
            Some other page
        </menuitem>
        <menuitem
            href="mystery.xml">
            Who know whats here
        </menuitem>
    </drawer>
    <menu>
        <menuitem action="usage">About</menuitem>
        <menuitem action="share">Share app</menuitem>
        <menuitem action="rate">Rate App</menuitem>
    </menu>
    <share action="send" title="biNu" text="Shared by biNu, check out this great app" subject="Rayhatron :)">
</app>